<a href="https://colab.research.google.com/github/jeevith2011/mini-projects-basics/blob/main/Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


# **Tips**
Some tips that will get you started (and help you when you're confused)

##Weekly meeting tips


1.   These meeting are recorded! Keep it short and sweet!
2.   Describe your what you achieved in code in 5-10 minutes.
3.   What is blocking you? Any blockers? Explain it in a weekly meeting.

## Confused? Here's the steps to finish the project:


1. Read the readme document
2. Watch pair coding videos in order by date
3. Code with the videos
4. If you have any problems, describe it in a weekly meeting and it will be fixed
5. When done, push to Git/GitHub
6. Also, make a presentation about what you learned
7. Once completed with the whole section, do the final report

**Also, make sure to change the compute engine when switching miniprojects.**

**That's it!**

### **If you are experiencing issues with setup scripts, add the Zoom-Recordings-Common folder after the MyDrive folder.**



---


#**MiniProject 2**
Covid Vaccine (8 tasks)

##Setup the files and stuff

Setup (will ask for Google credentials at first use)

In [ ]:
from google.colab import drive
# NOTE: this will pop up asking for google login permission
drive.mount('/content/drive')
# linux command to list the files under linux running
#Colab Jupyter notebook (prints dir/files/links in your Drive)

!ls -ltr /content/drive/MyDrive/ | grep *.csv
!ls -ltr /content/drive/MyDrive/dataset/dataset_csv/
!ls -ltr /content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv | grep dataset
!ls -ltr /content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv | grep dataset

Mounted at /content/drive
ls: /content/drive/MyDrive/dataset: No such file or directory
total 52
dr-x------ 2 root root 4096 Feb 26  2022 dataset-titanic
dr-x------ 2 root root 4096 Feb 26  2022 dataset-powerlifting-csv
dr-x------ 2 root root 4096 Feb 26  2022 dataset_open_crime_uk
dr-x------ 2 root root 4096 Feb 26  2022 dataset-google-scholar
dr-x------ 2 root root 4096 Feb 26  2022 dataset_ebola
dr-x------ 2 root root 4096 Feb 26  2022 dataset-domestic-flights-from-1990-to-2009
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid-2
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid
dr-x------ 2 root root 4096 Feb 26  2022 dataset-airports
dr-x------ 2 root root 4096 Feb 26  2022 dataset-hr
dr-x------ 2 root root 4096 Feb 27  2022 dataset-forest-fire
dr-x------ 2 root root 4096 Mar  5  2022 dataset-museum-artifacts
dr-x------ 2 root root 4096 Mar  5  2022 dataset-world-economy-worldbank
-r-------- 1 root root 4174593 Jan 10  2022 /content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv
-r-------- 1 root root 87436511 Jan 10  2022 /content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv

Snippet to start a task

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

         date   county    state    fips  cases  deaths
0  2021-12-11  Autauga  Alabama  1001.0  10596   158.0
1  2021-12-11  Baldwin  Alabama  1003.0  38307   591.0
2  2021-12-11  Barbour  Alabama  1005.0   3716    81.0
3  2021-12-11     Bibb  Alabama  1007.0   4379    95.0
4  2021-12-11   Blount  Alabama  1009.0  10857   193.0

## Main Project
1&2: Top 10 states with highest total death in 2020/2021

In [ ]:
### PROGRAM CONFIGURATIONS

# Year: Year for cases to occur in
year = 2021

### END PROGRAM CONFIGURATIONS
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

df = df[df['date'].str.match(f'({year})', na=False)]

values = df['state'].value_counts()

print(values[:10], f'year = {year}', sep='\n\n')

3&4. Top 10 highest average death in 2020/2021

In [ ]:
### PROGRAM CONFIGURATIONS

# Year: Year for cases to occur in
year = 2021
### END PROGRAM CONFIGURATIONS
import pandas as pd
from pandas.core.algorithms import value_counts

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

df = df[df['date'].str.match(f'({year})', na=False)]
df = df.groupby(['state']).mean()

df = df.sort_values(by='deaths', ascending=False)
df.insert(0, 'rank', [i+1 for i in range(56)])

print(df.head(10), f'year = {year}', sep='\n\n')

                      rank          fips         cases       deaths
state
Puerto Rico              1  72076.705128   2302.645963  2613.453368
Arizona                  2   4013.866667  65021.607486  1217.010302
Massachusetts            3  25014.000000  49281.753195  1182.652850
New Jersey               4  34021.000000  47092.932642  1178.831135
District of Columbia     5  11001.000000  53376.336788  1110.603627
California               6   6058.000000  71761.529538  1077.473320
Connecticut              7   9008.000000  39366.500576   911.553541
New York                 8  36062.543860  37514.745891   899.656155
Florida                  9  12067.910448  40180.783984   633.979770
Rhode Island            10  44005.000000  26279.331606   447.870466

year = 2021

5. Top 10 counties with highest total death in 2021 and 2020

In [ ]:
### NO PROGRAM CONFIGURATIONS ###
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

df1 = df[df['date'].str.match(f'(2020)', na=False)]
df2 = df[df['date'].str.match(f'(2021)', na=False)]
df = pd.concat([df1, df2])

values = df['county'].value_counts()

print(values[:10])

Washington    20743
Unknown       17806
Jefferson     17379
Franklin      16657
Jackson       15879
Lincoln       15841
Madison       13330
Montgomery    12065
Union         11956
Clay          11892
Name: county, dtype: int64

6. Print pairs of counties in different states

In [ ]:
### NO PROGRAM CONFIGURATIONS ###
import pandas as pd
import collections
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

df2 = df.groupby('county')['state'].nunique().to_frame('count_state') \
    .reset_index()

print(df2)

                         county  count_state
0                     Abbeville            1
1                        Acadia            1
2                      Accomack            1
3                           Ada            1
4                         Adair            4
...                         ...          ...
1925  Yukon-Koyukuk Census Area            1
1926                       Yuma            2
1927                     Zapata            1
1928                     Zavala            1
1929                    Ziebach            1

[1930 rows x 2 columns]

7.  Top 10 least death state in 2020/2021 (special output)

In [ ]:
### PROGRAM CONFIGURATIONS

# Year: Year for cases to occur in
year = 2021

### END PROGRAM CONFIGURATIONS
import pandas as pd
import collections
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

df = df[df['date'].str.match(f'({year})', na=False)]

values = df['state'].value_counts().to_frame()

values = values.to_dict()
values = values['state']

state, deaths = list(values.keys()), list(values.values())
state, deaths = list(reversed(state)), list(reversed(deaths))

print(f'year = {year}\nstate, death_total, rank\n') # states include territories

for i in range(10):
  print(state[i], deaths[i], i+1, sep=', ')

year = 2021
state, death_total, rank

American Samoa, 127, 1
Guam, 386, 2
District of Columbia, 386, 3
Northern Mariana Islands, 900, 4
Virgin Islands, 1187, 5
Delaware, 1544, 6
Hawaii, 2082, 7
Rhode Island, 2316, 8
Connecticut, 3474, 9
New Hampshire, 4246, 10

8. Print Top 10 most/least deaths in states from cases in Oct-Dec 2021. Needs to be ranked. Output it as a file in this folder: **/content/drive/MyDrive/data_preprocessing**

In [ ]:
### MINI-TASKS
#1. Filter states from Oct-Dec 2021 (done)
#2. Reverse them depending on user input and get first 10 (done)
#3. Rank them and turn it into a human-readable format (done)
#4. Save it into a text file and upload it into Google Drive (done)

### PROGRAM CONFIGURATIONS ###

# Sort: type 'most' to get most deaths and 'least' (or anything else) to get least deaths
sort = 'most'

# Mode: sets mode for file creation in Google Drive
mode = 'r+'

### END PROGRAM CONFIGURATIONS ###

import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

df_us_counties_recent = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties-recent.csv")
df_us_counties = pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-covid-2/us-counties.csv")
df = pd.concat([df_us_counties_recent, df_us_counties])

#Task 1

sept = df[df['date'].str.match('(2021-09)', na=False)]
oct1 = df[df['date'].str.match('(2021-10)', na=False)] # renamed to oct1 instead of oct because "oct" is a existing function
nov = df[df['date'].str.match('(2021-11)', na=False)]
dec = df[df['date'].str.match('(2021-12)', na=False)]
df = pd.concat([sept, oct1, nov, dec])

#Task 2

df.sort_values(by=['deaths'])

if sort == 'most':
  df = df.loc[::-1].reset_index(drop=True)

#Task 3

df = df['state'].value_counts().to_frame()
df = df.head(10).to_dict()['state']
states, deaths = list(df.keys()), list(df.values())

txt = ''

for i in range(10):
  txt = f'{txt}\n{i+1}. {states[i]} with {deaths[i]} deaths'

#Task 4

with open('/content/drive/MyDrive/data_preprocessing/corona.txt', mode) as file:
  file.truncate()
  file.write(txt)

               date                county        state     fips  cases  deaths
42345    2021-12-24  Skagway Municipality       Alaska   2230.0     89     0.0
1946265  2021-11-23               Unknown      Vermont      NaN     65     0.0
1828583  2021-10-18               Unknown     Oklahoma      NaN   8002     0.0
2011117  2021-12-13                  King        Texas  48269.0     26     0.0
2027495  2021-12-18               Daggett         Utah  49009.0    115     0.0
...             ...                   ...          ...      ...    ...     ...
2069267  2021-12-31             Vega Baja  Puerto Rico  72145.0   6053     NaN
2069268  2021-12-31               Vieques  Puerto Rico  72147.0    360     NaN
2069269  2021-12-31              Villalba  Puerto Rico  72149.0   1502     NaN
2069270  2021-12-31               Yabucoa  Puerto Rico  72151.0   2227     NaN
2069271  2021-12-31                 Yauco  Puerto Rico  72153.0   2179     NaN

[464704 rows x 6 columns]

0

298