<a href="https://colab.research.google.com/github/jeevith2011/mini-projects-basics/blob/main/MiniProject_4_Airports%20(BETA%201).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


# **MiniProject 4**
Airports and Airlines (11 tasks divided into 2 parts)

## **PART 1 (4 Tasks)**

### Setup script (PART 1)

In [ ]:
from google.colab import drive
# NOTE: this will pop up asking for google login permission
drive.mount('/content/drive')
# linux command to list the files under linux running
#Colab Jupyter notebook (prints dir/files/links in your Drive)

# Airport ID, Name of airport, City, Country, IATA, ICAO, Latitude, Longitude, Altitude, Timezone, DST, TZ Database Timezone, Type, Source
# See https://openflights.org/data.php for help

!ls -ltr /content/drive/MyDrive/ | grep *.csv
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports | grep dataset
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt | grep dataset

Mounted at /content/drive
ls: /content/drive/MyDrive/Zoom-Recordings-Common: No such file or directory
total 52
dr-x------ 2 root root 4096 Feb 26  2022 dataset-titanic
dr-x------ 2 root root 4096 Feb 26  2022 dataset-powerlifting-csv
dr-x------ 2 root root 4096 Feb 26  2022 dataset_open_crime_uk
dr-x------ 2 root root 4096 Feb 26  2022 dataset-google-scholar
dr-x------ 2 root root 4096 Feb 26  2022 dataset_ebola
dr-x------ 2 root root 4096 Feb 26  2022 dataset-domestic-flights-from-1990-to-2009
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid-2
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid
dr-x------ 2 root root 4096 Feb 26  2022 dataset-airports
dr-x------ 2 root root 4096 Mar  5  2022 dataset-museum-artifacts
dr-x------ 2 root root 4096 Mar  5  2022 dataset-world-economy-worldbank
dr-x------ 2 root root 4096 Jun 21  2023 dataset-hr
dr-x------ 2 root root 4096 Nov 11 19:19 dataset-forest-fire
-r-------- 1 root root 1127225 Feb 19  2022 /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt

### **Task 1: Top 20 highest altitude airports in the world.**
Choose only “type” with “airport” \
Output: airport_id, name, city, country, altitude, rank*

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt")
df.columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', \
              'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST',  \
              'TZ Database Timezone', 'Type', 'Source']
# See https://openflights.org/data.php for help

df = df.drop(df.columns[[4, 5, 6, 7, 9, 10, 11, 12, 13]], axis=1)
df = df.sort_values(by=['Altitude'])
rankings = df.tail(20)
rankings = rankings.iloc[::-1] # Reverses dataframe
rankings.index = list(range(1, 21))
print(rankings)

Top 20 countries that have the highest total # of airports. /
Output: /
country, total_airports, rank

**Task 2: Top 20 countries that have the highest total # of airports.** \
Output: \
country, total_airports, rank

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt")
df.columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', \
              'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST',  \
              'TZ Database Timezone', 'Type', 'Source']
# See https://openflights.org/data.php for help

df = df['Country'].value_counts().to_frame()
df = df.head(20)
df['Rank'] = list(range(1, 21))
print(df)

**Task 3: Top 20 cities that have the highest total # of airports.**  \
*(Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)* \
Output: \
city, total_airports, rank

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt")
df.columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', \
              'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST',  \
              'TZ Database Timezone', 'Type', 'Source']
# See https://openflights.org/data.php for help

df = df[['City', 'Country']].value_counts().to_frame()
df = df.head(20)
df['Rank'] = list(range(1, 21))
print(df)

**Task 4: Pair of cities that have the same name, but from two different countries.** \
Output: \
city_a, country_a, city_b, country_b

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/airports.dat.txt")
df.columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', \
              'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST',  \
              'TZ Database Timezone', 'Type', 'Source']
# See https://openflights.org/data.php for help

df = df.drop(df.columns[[0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1)
df = df.sort_values('City')
df = df.reset_index()
df_new = df.merge(df,on='City',suffixes =['','_opponent']).query('Country!=Country_opponent')

# drop NaN if you would like

print(df_new)

       index      City         Country  index_opponent Country_opponent
27      3571  Aberdeen   United States             525   United Kingdom
29       525  Aberdeen  United Kingdom            3571    United States
31       525  Aberdeen  United Kingdom            4405    United States
33      4405  Aberdeen   United States             525   United Kingdom
170     3663    Albany   United States            4866        Australia
...      ...       ...             ...             ...              ...
12177   7679       NaN           China            7278        Australia
12178   7679       NaN           China            7279        Australia
12179   7679       NaN           China            7282        Australia
12180   7679       NaN           China            7287         Mongolia
12181   7679       NaN           China            7640          Bahamas

[2048 rows x 5 columns]

## **PART 2 (7 tasks)**

### Setup script for part 2

In [3]:
from google.colab import drive
# NOTE: this will pop up asking for google login permission
drive.mount('/content/drive')
# linux command to list the files under linux running
#Colab Jupyter notebook (prints dir/files/links in your Drive)

# "Origin_airport","Destination_airport","Origin_city","Destination_city","Passengers","Seats","Flights","Distance","Fly_date","Origin_population","Destination_population","Org_airport_lat","Org_airport_long","Dest_airport_lat","Dest_airport_long"

!ls -ltr /content/drive/MyDrive/ | grep *.csv
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports | grep dataset
!ls -ltr /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/Airports2.csv | grep dataset

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
total 52
dr-x------ 2 root root 4096 Feb 26  2022 dataset-titanic
dr-x------ 2 root root 4096 Feb 26  2022 dataset-powerlifting-csv
dr-x------ 2 root root 4096 Feb 26  2022 dataset_open_crime_uk
dr-x------ 2 root root 4096 Feb 26  2022 dataset-google-scholar
dr-x------ 2 root root 4096 Feb 26  2022 dataset_ebola
dr-x------ 2 root root 4096 Feb 26  2022 dataset-domestic-flights-from-1990-to-2009
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid-2
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid
dr-x------ 2 root root 4096 Feb 26  2022 dataset-airports
dr-x------ 2 root root 4096 Mar  5  2022 dataset-museum-artifacts
dr-x------ 2 root root 4096 Mar  5  2022 dataset-world-economy-worldbank
dr-x------ 2 root root 4096 Jun 21  2023 dataset-hr
dr-x------ 2 root root 4096 Nov 11 19:19 dataset-forest-fire
-r-------- 1 root root 533742453 Sep 27  2019 /content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/Airports2.csv

### Main Project

#### TASK 1
In the year 2009, print Top 10 cities in the USA that received maximum # inbound flights. \
Output:
city,total_inbound_flights,rank

In [ ]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/Airports2.csv")

df.columns = ["Origin_airport","Destination_airport","Origin_city","Destination_city","Passengers","Seats","Flights", \
              "Distance","Fly_date","Origin_population","Destination_population","Org_airport_lat", \
              "Org_airport_long","Dest_airport_lat","Dest_airport_long"]

df = df.loc[df['Fly_date'].str.contains("2009")] # results must be in 2009

df = df.drop(df.columns[[0, 1, 2, 4, 5, 7, 9, 10, 11, 12, 13, 14]], axis=1) # removing unnecessary columns
df = df.groupby("Destination_city").Flights.sum() # grouping all of the destination city things

df = df.to_frame() # convert Series to DataFrame
df = df.sort_values(by=['Flights'], ascending=False).head(10) # sort values by flight amount and select top 10

df['Rank'] = range(1, 11) # add rank column

print(df) # probably will take 20 secs to load

#### TASK 2
Same thing as task 1, but it is OUTBOUND flights.

In [47]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/Airports2.csv")

df.columns = ["Origin_airport","Destination_airport","Origin_city","Destination_city","Passengers","Seats","Flights", \
              "Distance","Fly_date","Origin_population","Destination_population","Org_airport_lat", \
              "Org_airport_long","Dest_airport_lat","Dest_airport_long"]

df = df.loc[df['Fly_date'].str.contains("2009")] # results must be in 2009

df = df.drop(df.columns[[0, 1, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14]], axis=1) # removing unnecessary columns
df = df.groupby("Origin_city").Flights.sum() # grouping all of the origin city things

df = df.to_frame() # convert Series to DataFrame
df = df.sort_values(by=['Flights'], ascending=False).head(10) # sort values by flight amount and select top 10

df['Rank'] = range(1, 11) # add rank column

print(df) # probably will take 20 secs to load

                  Flights  Rank
Origin_city
Chicago, IL        416742     1
Atlanta, GA        397112     2
Dallas, TX         316739     3
New York, NY       278351     4
Houston, TX        249285     5
Washington, DC     238958     6
Charlotte, NC      200403     7
Los Angeles, CA    193248     8
Detroit, MI        184087     9
Philadelphia, PA   181575    10

#### TASK 3
Same thing as task 1, but it is OUTBOUND flights from 1999-2009.

In [54]:
import pandas as pd
from pandas.core.algorithms import value_counts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
df = pd.read_csv("/content/drive/MyDrive/Zoom-Recordings-Common/dataset/dataset_csv/dataset-airports/Airports2.csv")

df.columns = ["Origin_airport","Destination_airport","Origin_city","Destination_city","Passengers","Seats","Flights", \
              "Distance","Fly_date","Origin_population","Destination_population","Org_airport_lat", \
              "Org_airport_long","Dest_airport_lat","Dest_airport_long"]

df = df.drop(df.columns[[0, 1, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14]], axis=1) # removing unnecessary columns

# results must be in 1999-2009
dates = ['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']
df = df.loc[df['Fly_date'].str.contains('|'.join(dates))]

df = df.groupby("Origin_city").Flights.sum() # grouping all of the origin city things

df = df.to_frame() # convert Series to DataFrame
df = df.sort_values(by=['Flights'], ascending=False).head(10) # sort values by flight amount and select top 10

df['Rank'] = range(1, 11) # add rank column

print(df) # probably will take 20 secs to load

                 Flights  Rank
Origin_city
Chicago, IL      4997322     1
Atlanta, GA      4177480     2
Dallas, TX       3938032     3
Houston, TX      2750620     4
New York, NY     2750398     5
Washington, DC   2432099     6
Los Angeles, CA  2412159     7
Detroit, MI      2215283     8
Minneapolis, MN  2080578     9
Phoenix, AZ      1983949    10



---


# **Tips**
Some tips that will get you started (and help you when you're confused)

##Weekly meeting tips


1.   These meeting are recorded! Keep it short and sweet!
2.   Describe your what you achieved in code in 5-10 minutes.
3.   What is blocking you? Any blockers? Explain it in a weekly meeting.

## Confused? Here's the steps to finish the project:


1. Read the readme document
2. Watch pair coding videos in order by date
3. Code with the videos
4. If you have any problems, describe it in a weekly meeting and it will be fixed
5. When done, push to Git/GitHub
6. Also, make a presentation about what you learned
7. Once completed with the whole section, do the final report

**Also, make sure to change the compute engine when switching miniprojects.**

**That's it!**

### **If you are experiencing issues with setup scripts, add the Zoom-Recordings-Common folder after the MyDrive folder.**